{% extends "templates/layouts/layout.html" %}

{% block content %}
<link rel="stylesheet" href="/assets/oasis/css/about.css?version=1.53">
<script src="/assets/oasis/js/scroll_animations.js?version=2.07"></script> 

<section>
    <div class="about-main-container">
        <div class="about-main-content fade-in">
            <p class="about-heading">About OASIS</p>
            <p class="about-description">By adopting FOSS, organizations in the social sector can leverage powerful tools, reduce costs, and contribute to a collaborative ecosystem of technological innovation.</p>
        </div>
        <div class="about-mission fade-in">
            <div>
                <p class="about-mission-heading">Mission</p>
            </div>
            <div class="mission-sub-container">
                <div class="mission-box">
                    <p class="about-mission-text">To address systemic technological gaps and lack of technological capacity in the social sector through the adoption of FOSS.</p>
                </div>
                <div class="mission-box">
                    <p class="about-mission-text">To help organizations attain technological self-sufficiency to better focus on their social work and increase its impact.</p>
                </div>
                <div class="mission-box">
                    <p class="about-mission-text">To help create a thriving ecosystem of FOSS innovation and collaboration in the social sector, made of diverse stakeholders.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="founder-members">
        <div class="founder-top-container fade-in">
            <p class="founder-heading">Founding members</p>
            <p class="founder-description">Collaborative pioneers driving tech-enabled social change.</p>
        </div>
        <div class="founders fade-in">
            {% for partner in partners %}
            <div class="founder-card">
                <div class="founder-logo">
                    <img src="{{partner.logo}}" alt="">
                </div>
                <div class="founder-info">
                    <p class="founder-name">{{partner.partner_name}}</p>
                    <p class="founder-text">{{partner.description}}</p>
                    <a href="{{partner.url}}" target="_blank" style="text-decoration: none;"><p class="founder-cta">KNOW MORE</p></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section>
    <div id="organisation" class="organisation-container">
        <div class="organisation-header fade-in">
            <p class="organisation-heading">Organization</p>
            <p class="organisation-description">OASIS is a growing alliance of a diverse set of organizations led by a governing council. </p>
        </div>
        <div class="organisation-board-members fade-in">
            <div class="organisation-left-container">
                <p class="board-heading">Board</p>
                <p class="board-description">The strategic direction of the alliance, its day to day activities and plans are directed by the board. The current board (formed in 2024) was constituted by the founding member organizations of OASIS. The framework for the constitution or reconstitution of the council, such as an election process, is still underway.</p>
            </div>
            <div class="board-members">
                {% for member in members %}
                <div class="board-member-profile">
                    <img class="member-profile" src="{{member.profile}}" alt="">
                    <div>
                        <p class="member-name">{{member.name}}</p>
                        <p class="member-title">{{member.title}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- <div class="organisation-advisory-council fade-in">
            <div class="organisation-left-container">
                <p class="board-heading">Advisory Council</p>
                <p class="board-description">The advisory council, constituted by the board, is a group of individuals with expertise in FOSS, technology, and social innovation, who advise the council and the alliance members.</p>
            </div>
            <div class="advisory-council">
                <div class="board-member-profile">
                    <img class="member-profile" src="/assets/oasis/images/image (9).png" alt="">
                    <div>
                        <p class="member-name">Irina Snissar Lobo</p>
                        <p class="member-title">System Change Practicioner, Curator &Writer</p>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="organisation-cta fade-in">
            <p class="organisation-cta-header">Join Our Movement</p>
            <p class="organisation-cta-description">Are you passionate about Free and Open Source Software (FOSS) or social innovation? Become a part of OASIS, where individuals and organizations collaborate to drive tech for good. Whether you're a technologist, a FOSS provider working in the social sector, or a philanthropic institution building tech capacity, there's a place for you in our alliance. Together, we can create meaningful change by leveraging technology for social impact.</p>
            <p class="organisation-cta-subtext">Ready to make a difference? Join us today!</p>
            <a href="/membership" style="text-decoration: none;"><button class="organisation-cta-btn">Learn about membership <img style="width: 12px;" src="/assets/oasis/images/arrow_right_white.svg" alt=""></button></a> 
        </div>
    </div>
</section>

{% endblock %}
