{% extends "templates/layouts/layout.html" %}

{% block content %}
<style>
    ::-webkit-scrollbar {
        display: none; 
    }
    .about-main-container{
        width: 100%;
        padding: 0px 146px;
    }
    .about-main-content{
        padding: 129px 0px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .about-mission{
        padding: 64px 0px;
        display: flex;
        gap: 96px;
    }
    .about-heading{
        font-family: 'Bricolage Grotesque';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 124%;
        letter-spacing: -0.04em;
        color: #000000;
    }
    .about-description{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 136%;
        letter-spacing: -0.01em;
        color: #000000;
        max-width: 90%;
    }
    .about-mission-heading{
        font-family: 'Bricolage Grotesque';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 124%;
        letter-spacing: -0.04em;
        color: #000000;
    }
    .about-mission-text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 136%;
        letter-spacing: -0.01em;
        color: #000000;
        opacity: 0.7;
    }
    .mission-sub-container{
        display: flex;
        flex: 1;
        gap: 60px;
    }
    .mission-box{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 0px;
        gap: 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.16);
    }
    /* members */
    .founder-members{
        width: 100%;
        padding: 128px 146px;
        background-color: #FF94B8;
        background-image: url('/assets/oasis/images/casestudy_vector.svg');
        display: flex;
        flex-direction: column;
        gap: 34px;
    }
    .founder-top-container{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .founder-heading{
        font-family: 'Bricolage Grotesque';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 124%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }
    .founder-description{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 136%;
        letter-spacing: -0.01em;
        color: #FFFFFF;
    }
    .founders{
        display: flex;
        flex-wrap: wrap; 
        gap: 34px;
    }
    .founder-card{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 48px 24px;
        gap: 73px;
        max-width: 366px;
        min-height: 406px;
        background: #FFFFFF;
    }
    .founder-logo{
        max-height: 30px;
    }
    .founder-info{
        display: flex;
        flex-direction: column;
        gap: 23px;
    }
    .founder-name{
        font-family: 'Bricolage Grotesque';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 124%;
        letter-spacing: -0.04em;
        color: #000000;
    }
    .founder-text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 136%;
        letter-spacing: -0.01em;
        color: #000000;
    }
    .founder-cta{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 136%;
        letter-spacing: -0.01em;
        color: #000000;
    }
    /* organisation */
    .organisation-container{
        width: 100%;
        padding: 128px 146px;
    }
    .organisation-header{
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .organisation-heading{
        font-family: 'Bricolage Grotesque';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 124%;
        letter-spacing: -0.04em;
        color: #000000;
    }
    .organisation-description{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 136%;
        letter-spacing: -0.01em;
        color: #000000;
    }
    .organisation-board-members{
        padding: 64px 0px;
        display: flex;
        gap: 96px;
    }
    .organisation-advisory-council{
        padding: 64px 0px;
        display: flex;
        gap: 96px;
    }
    .organisation-left-container{
        max-width: 281px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .board-heading{
        font-family: 'Bricolage Grotesque';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 124%;
        letter-spacing: -0.04em;
        color: #000000;
    }
    .board-description{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 136%;
        letter-spacing: -0.01em;
        color: #000000;
        opacity: 0.7;
    }
    .organisation-cta{
        padding: 64px;
        background-color: #F5E253;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .organisation-cta-header{
        font-family: 'Bricolage Grotesque';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 124%;
        letter-spacing: -0.04em;
        color: #000000;
    }
    .organisation-cta-description{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 136%;
        letter-spacing: -0.01em;
        color: #000000;
        opacity: 0.7;
    }
    .organisation-cta-subtext{
        font-family: 'Nanum Pen Script', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 136%;
        letter-spacing: -0.01em;
        color: #000000;
    }
    .organisation-cta-btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        gap: 10px;
        background: #000000;
        border-radius: 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 158%;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        width: 219px;
    }
    .board-members{
        flex: 1;
        display: flex;
        flex-wrap: wrap;
    }
    .board-member-profile{
        width: 190px;
        height: 206px;
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
        gap: 16px;
    }
    .member-profile{
        width: 96px;
        height: 96px;
        border-radius: 50%;
        object-fit: cover;
    }
    .member-name{
        font-family: 'Bricolage Grotesque';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 136%;
        letter-spacing: -0.01em;
        color: #000000;
        opacity: 0.7;
    }
    .member-title{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 136%;
        letter-spacing: -0.01em;
        color: #000000;
        opacity: 0.7;
    }

    @media screen and (max-width: 768px) {
        .about-main-container{
            padding: 0px 16px;
        }
        .about-main-content{
            padding: 54px 0px 0px 0px;
        }
        .about-heading{
            font-size: 36px;
        }
        .about-description{
            max-width: 100%;
        }
        .about-mission{
            padding: 36px 0px;
            flex-direction: column;
            gap: 36px;
        }
        .about-mission-heading{
            font-size: 24px;
            line-height: 29px;
        }
        .mission-sub-container{
            flex-direction: column;
            gap: 0px;
        }
        .mission-box{
            padding: 24px 0px 40px 0px;
        }
        .founders{
            flex-wrap: nowrap;
            overflow-x: scroll;
        }
        .founder-card{
            min-width: 100%;
        }
        .founder-members{
            padding: 36px 16px;
        }
        .organisation-container{
            padding: 36px 16px;
        }
        .organisation-header{
            padding-bottom: 0px;
        }
        .organisation-board-members{
            padding: 36px 0px 0px 0px;
            flex-direction: column;
            gap: 36px;
        }
        .organisation-advisory-council{
            padding: 0px 0px;
            flex-direction: column;
            gap: 36px;
        }
        .organisation-left-container{
            max-width: 100%;
        }
        .board-member-profile{
            width: 50%;
            height: auto;
        }
        .organisation-cta{
            padding: 64px 16px;
        }
        .organisation-cta-description{
            font-size: 16px;
            line-height: 21px;
        }
    }
</style>

<section>
    <div class="about-main-container">
        <div class="about-main-content">
            <p class="about-heading">About OASIS</p>
            <p class="about-description">By adopting FOSS, organisations in the social sector can leverage powerful tools, reduce costs, and contribute to a collaborative ecosystem of technological innovation.</p>
        </div>
        <div class="about-mission">
            <div>
                <p class="about-mission-heading">Mission</p>
            </div>
            <div class="mission-sub-container">
                <div class="mission-box">
                    <p class="about-mission-text">To address systemic technological gaps and lack of technological capacity in the social sector through the adoption of FOSS.</p>
                </div>
                <div class="mission-box">
                    <p class="about-mission-text">To help organizations attain technological self-sufficiency to better focus on their social work and increase its impact</p>
                </div>
                <div class="mission-box">
                    <p class="about-mission-text">To help create a thriving ecosystem of FOSS innovation and collaboration in the social sector, made of diverse stakeholders.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="founder-members">
        <div class="founder-top-container">
            <p class="founder-heading">Founding members</p>
            <p class="founder-description">Collaborative pioneers driving tech-enabled social change.</p>
        </div>
        <div class="founders">
            {% for partner in partners %}
            <div class="founder-card">
                <div class="founder-logo">
                    <img src="{{partner.logo}}" alt="">
                </div>
                <div class="founder-info">
                    <p class="founder-name">{{partner.partner_name}}</p>
                    <p class="founder-text">Empowers nonprofits to maximize their social impact by leveraging innovative technology solutions and fostering a collaborative ecosystem of tech professionals and social organizations.</p>
                    <p class="founder-cta">KNOW MORE</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section>
    <div class="organisation-container">
        <div class="organisation-header">
            <p class="organisation-heading">Organisation</p>
            <p class="organisation-description">OASIS is a growing alliance of a diverse set of organizations led by a governing council. </p>
        </div>
        <div class="organisation-board-members">
            <div class="organisation-left-container">
                <p class="board-heading">Board</p>
                <p class="board-description">The strategic direction of the alliance, its day to day activities and plans are directed by the board. The current board (formed in 2024) was constituted by the founding member organisations of OASIS. The framework for the constitution or reconstitution of the council, such as an election process, is still underway.</p>
            </div>
            <div class="board-members">
                {% for member in members %}
                <div class="board-member-profile">
                    <img class="member-profile" src="{{member.profile}}" alt="">
                    <div>
                        <p class="member-name">{{member.name}}</p>
                        <p class="member-title">{{member.title}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="organisation-advisory-council">
            <div class="organisation-left-container">
                <p class="board-heading">Advisory Council</p>
                <p class="board-description">The advisory council, constituted by the board, is a group of individuals with expertise in FOSS, technology, and social innovation, who advise the council and the alliance members.</p>
            </div>
            <div class="advisory-council">
                <div class="board-member-profile">
                    <img class="member-profile" src="/assets/oasis/images/image (9).png" alt="">
                    <div>
                        <p class="member-name">Irina Snissar Lobo</p>
                        <p class="member-title">System Change Practicioner, Curator &Writer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="organisation-cta">
            <p class="organisation-cta-header">Join Our Movement</p>
            <p class="organisation-cta-description">Are you passionate about Free and Open Source Software (FOSS) or social innovation? Become a part of OASIS, where individuals and organizations collaborate to drive tech for good. Whether you're a technologist, a FOSS provider working in the social sector, or a philanthropic institution building tech capacity, there's a place for you in our alliance. Together, we can create meaningful change by leveraging technology for social impact.</p>
            <p class="organisation-cta-subtext">Ready to make a difference? Join us today!</p>
            <button class="organisation-cta-btn">Learn about membership -></button>
        </div>
    </div>
</section>

{% endblock %}
