::-webkit-scrollbar {
    display: none; 
}
.about-main-container{
    width: 100%;
    padding: 0px 146px;
}
.about-main-content{
    padding: 129px 0px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.about-mission{
    padding: 64px 0px;
    display: flex;
    gap: 96px;
}
.about-heading{
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 124%;
    letter-spacing: -0.04em;
    color: #000000;
}
.about-description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 136%;
    letter-spacing: -0.01em;
    color: #000000;
}
.about-mission-heading{
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 124%;
    letter-spacing: -0.04em;
    color: #000000;
}
.about-mission-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 136%;
    letter-spacing: -0.01em;
    color: #000000;
    opacity: 0.7;
}
.mission-sub-container{
    display: flex;
    flex: 1;
    gap: 60px;
}
.mission-box{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0px;
    gap: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.16);
}
/* members */
.founder-members{
    width: 100%;
    padding: 128px 146px;
    background-color: #FF94B8;
    background-image: url('/assets/oasis/images/casestudy_vector.svg');
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.founder-top-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.founder-heading{
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 124%;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
.founder-description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 136%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.founders{
    display: flex;
    flex-wrap: wrap; 
    row-gap: 34px;
    column-gap: 34px;
}
.founder-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 24px;
    gap: 73px;
    max-width: 31%;
    min-height: 306px;
    background: #FFFFFF;
}
.founder-logo{
    max-height: 30px;
}
.founder-info{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.founder-name{
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 124%;
    letter-spacing: -0.04em;
    color: #000000;
}
.founder-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 136%;
    letter-spacing: -0.01em;
    color: #000000;
}
.founder-cta{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 136%;
    letter-spacing: -0.01em;
    color: #000000;
    cursor: pointer;
    display: inline-block;        
    position: relative;
}
.founder-cta::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1.5px; 
    background-color: #000; 
    transition: width 0.3s ease;
}

.founder-cta:hover {
    color: #000000; 
}

.founder-cta:hover::after {
    width: 100%;
}
/* organisation */
.organisation-container{
    width: 100%;
    padding: 128px 146px;
}
.organisation-header{
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.organisation-heading{
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 124%;
    letter-spacing: -0.04em;
    color: #000000;
}
.organisation-description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 136%;
    letter-spacing: -0.01em;
    color: #000000;
}
.organisation-board-members{
    padding: 64px 0px;
    display: flex;
    gap: 96px;
}
.organisation-advisory-council{
    padding: 64px 0px;
    display: flex;
    gap: 96px;
}
.organisation-left-container{
    max-width: 281px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.board-heading{
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 124%;
    letter-spacing: -0.04em;
    color: #000000;
}
.board-description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 136%;
    letter-spacing: -0.01em;
    color: #000000;
    opacity: 0.7;
}
.organisation-cta{
    padding: 64px;
    background-color: #F5E253;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.organisation-cta-header{
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 124%;
    letter-spacing: -0.04em;
    color: #000000;
}
.organisation-cta-description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 136%;
    letter-spacing: -0.01em;
    color: #000000;
    opacity: 0.7;
}
.organisation-cta-subtext{
    font-family: 'Nanum Pen Script', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 136%;
    letter-spacing: -0.01em;
    color: #000000;
}
.organisation-cta-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    background: #000000;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 158%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.organisation-cta-btn:hover{
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.board-members{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}
.board-member-profile{
    width: 190px;
    height: 206px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    gap: 16px;
}
.member-profile{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
}
.member-name{
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 136%;
    letter-spacing: -0.01em;
    color: #000000;
    opacity: 0.7;
}
.member-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 136%;
    letter-spacing: -0.01em;
    color: #000000;
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .about-main-container{
        padding: 0px 16px;
    }
    .about-main-content{
        padding: 54px 0px 0px 0px;
    }
    .about-heading{
        font-size: 36px;
    }
    .about-description{
        max-width: 100%;
    }
    .about-mission{
        padding: 36px 0px;
        flex-direction: column;
        gap: 36px;
    }
    .about-mission-heading{
        font-size: 24px;
        line-height: 29px;
    }
    .mission-sub-container{
        flex-direction: column;
        gap: 0px;
    }
    .mission-box{
        padding: 24px 0px 40px 0px;
    }
    .founders{
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .founder-card{
        min-width: 100%;
    }
    .founder-members{
        padding: 36px 16px;
    }
    .organisation-container{
        padding: 36px 16px;
    }
    .organisation-header{
        padding-bottom: 0px;
    }
    .organisation-board-members{
        padding: 36px 0px 0px 0px;
        flex-direction: column;
        gap: 36px;
    }
    .organisation-advisory-council{
        padding: 0px 0px;
        flex-direction: column;
        gap: 36px;
    }
    .organisation-left-container{
        max-width: 100%;
    }
    .board-member-profile{
        width: 50%;
        height: auto;
    }
    .organisation-cta{
        padding: 64px 16px;
    }
    .organisation-cta-description{
        font-size: 16px;
        line-height: 21px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .about-main-container{
        padding: 0px 56px;
    }
    .founder-members{
        padding: 56px;
    }
    .organisation-container{
        padding: 56px;
    }  
}  
@media screen and (min-width: 769px) and (max-width: 1440px) {
    .founders{
        row-gap: 2.0vh;
        column-gap: 1.7%;
    }
}