/* membership */
.membership-main{
    padding: 0px 0px 128px 0px;
}
.membership-top-container{
    padding: 129px 146px 64px 146px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.membership-heading{
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 124%;
    letter-spacing: -0.04em;
    color: #000000;
}
.membership-description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 136%;
    letter-spacing: -0.01em;
    color: #000000;
}
.membership-qualification{
    padding: 64px 146px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.qualification-heading{
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 124%;
    letter-spacing: -0.04em;
    color: #000000;
}
.qualification-container{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.qualification-inner-container{
    width: 49%;
    height: auto;
    padding: 24px 0px 32px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;
}
.qualification-title{
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 124%;
    letter-spacing: -0.04em;
    color: #000000;
}
.qualification-desc{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 136%;
    letter-spacing: -0.01em;
    color: #000000;
    opacity: 0.7;
    max-width: 90%;
}
.border-top{
    border-top: 1px solid rgba(0, 0, 0, 0.16);
}
.why-join-section{
    padding: 64px 146px;
    display: flex;
    align-items: start;
}
.why-join-heading{
    width: 371px;
    display: flex;
    justify-content: start;
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 124%;
    letter-spacing: -0.04em;
    color: #000000;
}
.why-join-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.why-join-card{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 32px;
}
.why-join-title{
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 124%;
    letter-spacing: -0.04em;
    color: #000000;
}
.why-join-desc{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 136%;
    letter-spacing: -0.01em;
    color: #000000;
    opacity: 0.7;
}
.how-to-join-section{
   margin: 0px 146px;
   padding: 64px;
   background-color: rgba(245, 226, 83, 1);
   display: flex;
   flex-direction: column;
   gap: 24px;
   position: relative;
}
.how-to-join-heading{
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 124%;
    letter-spacing: -0.04em;
    color: #000000;
}
.how-to-join-desc{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 136%;
    letter-spacing: -0.01em;
    color: #000000;
    opacity: 0.7;
}
.how-to-join-points{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 124%;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 0.7;
}
.how-to-join-list{
    list-style-type: disc;
    padding-left: 20px;
}
.how-to-join-cta{
    font-family: 'Nanum Pen Script', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 136%;
    letter-spacing: -0.01em;
    color: #000000;
    z-index: 999;
}
.how-to-join-cta-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    background: #000000;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 158%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    z-index: 999;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.how-to-join-cta-btn:hover{
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.how-to-join-vector{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
@media screen and (max-width: 768px) {
    .membership-main{
        padding: 0px;
    }
    .membership-top-container{
        padding: 64px 16px 32px 16px;
    }
    .membership-heading{
        font-size: 36px;
        line-height: 44px;
    }
    .membership-qualification{
        padding: 32px 0px;
        gap: 16px;
    }
    .qualification-inner-container{
        width: 100%;
        padding: 24px 16px 32px 16px;
    }
    .qualification-heading{
        padding: 0px 16px;
    }
    .qualification-desc{
        max-width: 100%;
    }
    .why-join-section{
        padding: 32px 16px;
        flex-direction: column;
        gap: 32px;
    }
    .why-join-heading{
        width: 100%;
    }
    .how-to-join-section{
        margin: 0px 16px 32px 16px;
        padding: 32px 16px;
        background-color: #FFFFFF;
    }
    .how-to-join-vector{
        display: none;
    }
    .border-xs-top{
        border-top: 0.5px solid rgba(0, 0, 0, 0.16);
    }
}