{% extends "templates/layouts/layout.html" %}

{% block content %}
<style>
  /* members */
  ::-webkit-scrollbar {
      display: none; 
  }
  .founder-members{
        width: 100%;
        height: calc(100vh - 100px);
        padding: 128px 146px;
        margin-bottom: 64px;
        background-color: #FF94B8;
        background-image: url('/assets/oasis/images/casestudy_vector.svg');
        display: flex;
        flex-direction: column;
        gap: 34px;
    }
    .founder-top-container{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .founder-heading{
        font-family: 'Bricolage Grotesque';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 124%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }
    .founder-description{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 136%;
        letter-spacing: -0.01em;
        color: #FFFFFF;
    }
    .founders{
        display: flex;
        overflow-x: scroll; 
        padding-left: 146px; 
        padding-right: 146px; 
        margin: 0 -146px; 
        scroll-padding-left: 146px; 
        -webkit-overflow-scrolling: touch; 
        -ms-overflow-style: none; 
        scrollbar-width: none; 
        -webkit-scrollbar-width: none;
        gap: 34px;
    }
    .founder-card{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 48px 24px;
        gap: 73px;
        min-width: 366px;
        min-height: 306px;
        background: #FFFFFF;
    }
    .founder-logo{
        max-height: 30px;
    }
    .founder-info{
        display: flex;
        flex-direction: column;
        gap: 23px;
    }
    .founder-name{
        font-family: 'Bricolage Grotesque';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 124%;
        letter-spacing: -0.04em;
        color: #000000;
    }
    .founder-text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 136%;
        letter-spacing: -0.01em;
        color: #000000;
    }
    .founder-cta{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 136%;
        letter-spacing: -0.01em;
        color: #000000;
    }
</style>
<section>
  <div class="founder-members">
      <div class="founder-top-container">
          <p class="founder-heading">Founding members</p>
          <p class="founder-description">Collaborative pioneers driving tech-enabled social change.</p>
      </div>
      <div class="founders">
          {% for partner in partners %}
          <div class="founder-card">
              <div class="founder-logo">
                  <img src="{{partner.logo}}" alt="">
              </div>
              <div class="founder-info">
                  <p class="founder-name">{{partner.partner_name}}</p>
                  <p class="founder-text">{{partner.description}}</p>
                  <p class="founder-cta">KNOW MORE</p>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</section>

{% endblock %}
