{% extends "templates/layouts/layout.html" %}

{% block content %}
<link rel="stylesheet" href="/assets/oasis/css/membership.css?version=1.0">
<script src="/assets/oasis/js/scroll_animations.js?version=2.07"></script> 

<style>
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        .membership-top-container{
            padding: 129px 56px;
        }
        .membership-qualification{
            padding: 56px;
        }
        .why-join-section{
            padding: 56px;
        }
        .how-to-join-section{
            margin: 0px 56px;
        }
    }
</style>

<section>
  <div class="membership-main">
      <div class="membership-top-container fade-in">
          <p class="membership-heading">Membership</p>
          <p class="membership-description">Joining OASIS means becoming part of a vibrant network committed to leveraging Free and Open-Source Software (FOSS) for social impact. Whether you’re an individual, organization, or institution, membership offers an opportunity to contribute, collaborate, and grow.</p>
      </div>
      <div class="membership-qualification fade-in">
        <div>
            <p class="qualification-heading">Who Can Join?</p>
        </div>
        <div class="qualification-container">
            <div class="qualification-inner-container">
                <p class="qualification-title">Tech Volunteers & Innovators</p>
                <p class="qualification-desc">Individuals and organizations developing or implementing FOSS solutions tailored for the social sector.</p>
            </div>
            <div class="qualification-inner-container border-xs-top">
                <p class="qualification-title">Technology Providers & Vendors</p>
                <p class="qualification-desc">Companies offering FOSS-based services, tools, and consultation.</p>
            </div>
            <div class="qualification-inner-container border-top">
                <p class="qualification-title">Philanthropic Institutions</p>
                <p class="qualification-desc">Organizations looking to build tech capacity among their beneficiaries.</p>
            </div>
            <div class="qualification-inner-container border-top">
                <p class="qualification-title">Social Sector Organizations</p>
                <p class="qualification-desc">NGOs, nonprofits, and other citizen sector entities eager to adopt FOSS for transformative impact.</p>
            </div>
        </div>
      </div>
      <div class="why-join-section">
        <div class="why-join-heading fade-in">
            <p>Why Join OASIS?</p>
        </div>
        <div class="why-join-content">
            {% for item in whyjoin %}
            <div class="why-join-card fade-in">
                <p class="why-join-title">{{item.title}}</p>
                <p class="why-join-desc">{{item.desc}}</p>
            </div>
            {% endfor %}
        </div>
      </div>
      <div class="how-to-join-section fade-in">
        <p class="how-to-join-heading">How to Join</p>
        <p class="how-to-join-desc">Ready to make a difference with FOSS? Join OASIS today and become part of a growing alliance driving technological innovation for social good.</p>
        <div>
            <p class="how-to-join-points">Membership Criteria</p>
            <ul class="how-to-join-desc how-to-join-list">
                <li>A demonstrated commitment to FOSS-centric activities.</li>
                <li>Active participation in OASIS events, workshops, and initiatives.</li>
                <li>Adherence to OASIS’s guiding principles and framework.</li>
            </ul>
        </div>
        <p class="how-to-join-cta">Ready to make a difference? Join us today!</p>
        <a href="/join-us" style="text-decoration: none;"><button class="how-to-join-cta-btn">Join now <img style="width: 12px;" src="/assets/oasis/images/arrow_right_white.svg" alt=""></button></a>
        <div class="how-to-join-vector"><img src="/assets/oasis/images/vector2.svg" alt=""></div>
      </div>
  </div>
</section>

{% endblock %}
