{% extends "templates/layouts/layout.html" %}

{% block content %}
<script src="/assets/oasis/js/scroll_animations.js?version=2.07"></script> 
<link rel="stylesheet" href="/assets/oasis/css/event.css?version=1.0">

<section>
    <div class="events-header fade-in">
        <p class="events-main-heading">What’s happening? </p>
        <p class="events-main-description">Our events bring together diverse stakeholders to share knowledge, build capacity, and foster collaboration.</p>
    </div>
    <div class="upcoming-events">
        <div>
            <p class="events-heading fade-in">Upcoming Events</p>
        </div>
        {% set colors = ['#F5E253', '#FF94B8', '#85B4EF', '#3CB645'] %}
        {% for event in upcomingevents %}
        <div class="event-card fade-in">
            <div class="event-banner-container">
                <img class="event-banner-image" src="{{event.banner}}" alt="">
            </div>
            <div class="event-details">
                <p class="event-tag" style="background-color: {{ colors[loop.index0 % colors|length] }}">{{event.tag}}</p>
                <p class="event-title">{{event.event_title}}</p>
                <div class="event-date-container" data-start="{{ event.start_date }}" data-end="{{ event.end_date }}"></div>
                <p class="event-venue">{{event.event_location}}</p>
                <p class="event-description">{{event.description}}</p>
                <a href="/register-event" style="text-decoration: none; color: #ffffff;"><button class="event-register">Register now <img style="width: 12px;" src="/assets/oasis/images/arrow_right_white.svg" alt=""></button></a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="past-events">
        <div>
            <p class="events-heading fade-in">Past Events</p>
        </div>
        {% set colors = ['#85B4EF', '#3CB645', '#F5E253', '#FF94B8'] %}
        {% for event in pastevents %}
        <div class="past-event-card fade-in">
            <div class="past-event-banner-container">
                <img class="past-event-banner-image" src="{{event.banner}}" alt="">
            </div>
            <div class="event-details">
                <p class="event-tag" style="background-color: {{ colors[loop.index0 % colors|length] }}">{{event.tag}}</p>
                <p class="event-title">{{event.event_title}}</p>
                <div class="event-date-container" data-start="{{ event.start_date }}" data-end="{{ event.end_date }}"></div>
                <p class="event-description">{{event.description}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<script>
    function formatEventDate(start, end) {
      const startDateTime = new Date(start);
      const endDateTime = new Date(end);
  
      const optionsDate = { day: "2-digit", month: "long", year: "numeric" };
      const optionsTime = { hour: "numeric", minute: "numeric", hour12: true };
  
      const startDate = startDateTime.toLocaleDateString("en-GB", optionsDate);
      const startTime = startDateTime.toLocaleTimeString("en-US", optionsTime);
      const endDate = endDateTime.toLocaleDateString("en-GB", optionsDate);
      const endTime = endDateTime.toLocaleTimeString("en-US", { ...optionsTime });
  
      return `
        <p class="event-date">
          ${startDate} <span class="event-time">· ${startTime} - </span>
          ${endDate} <span class="event-time">· ${endTime}</span>
        </p>
      `;
    }
  
    document.querySelectorAll('.event-date-container').forEach(function (container) {
      const startDate = container.getAttribute('data-start');
      const endDate = container.getAttribute('data-end');
      
      container.innerHTML = formatEventDate(startDate, endDate);
    });
  </script>


{% endblock %}