{% extends "templates/layouts/layout.html" %}

{% block title %}Oasis{% endblock %}

{% block content %}
<link rel="preconnect" href="/assets/oasis/images">
<link rel="dns-prefetch" href="/assets/oasis/images">
<link rel="stylesheet" href="/assets/oasis/css/home.css?version=2.16">
<!-- <script src="/assets/oasis/js/scroll_animations.js?version=2.05"></script> -->

<style>
    .main-button {
        width: auto;
        padding: 12px 16px ;
        font-weight: 700;
        border-radius: 8px;
        border: 0.5px solid rgba(0, 0, 0, 0.16);
        font-family: 'Inter', sans-serif;
        cursor: pointer;
        overflow: visible;
        text-decoration: none;
        transition: all 400ms ease-in-out;
    }
    .participate-btn {
        background-color: #000;
        color: #ffffff;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
    .participate-btn:hover {
        transform: scale(1.1);
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
    .sec-btn {
        background-color: #f8f7ef;
        color: #000;
    }
    .sec-btn:hover {
        transform: scale(1.1);
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
    img{
        mix-blend-mode: darken;
    }
    .tools-sml-scrn{
        display: none !important;
        mix-blend-mode: darken;
    }
    .casestudy-top-container{
        display: flex;
        align-items: start;
        justify-content: space-between;
    }
    .case-active{
        background-color: #ffffff;
        color: #000000 !important;
        border: 0.5px solid rgba(0, 0, 0, 0.16); 
     }
    .case-inactive{
        color: #ffffff;
        border: 0.5px solid transparent; 
    }
    .case-study-btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        gap: 10px;
        background: #FFFFFF;
        border-radius: 8px;
        border: none;
        outline: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 158%;
        letter-spacing: -0.01em;
        color: #3CB645;
    }
    .tool-item{
        background-color: #f8f7ef;
    }
    .tool-item img{
        mix-blend-mode: darken;
    }
    @media screen and (max-width: 768px) {
        .casestudy-header{
            color: black !important;
        }
        .casestudy-sub{
            color: black !important;
        }
        .case-study-btn{
            display: none !important;
        }
        .tools{
            padding: 24px 0px !important;
            background-color: white !important;
            margin: 0px !important;
            height: 519px !important;
        }
        .tools-lrg-scrn{
            display: none !important;
        }
        .tools-sml-scrn{
            display: block !important;
            background-color: white !important;
            height: auto !important;
            width: 100% !important;
            display: flex !important;
            flex-direction: column !important;
            gap: 12px !important;
        }
        .tools-btn-left{
            flex: 1 !important;
            padding: 12px 6px !important;
        }
        .tools-btn-right{
            background-color: #f8f7ef !important;
            border-radius: 8px !important;
            padding: 12px 6px !important;
            flex:1 !important;
        }
        .benefits{
            border: 0.5px solid rgba(0, 0, 0, 0.16) !important;
            padding: 32px 16px 32px 16px !important;
            gap: 32px !important;
            margin: 32px 16px !important;
        }
        .benefits-cards{
            border: none !important;
            padding: 0px 0px!important;
            gap: 32px !important;
        }
        .benefits-inner-cards{
            border: none !important;
            display: flex !important;
            flex-direction: column !important;
            gap: 32px !important;
        }
        .benefit-card{
            display: flex !important;
            flex-direction: row !important;
        }
        .benefit-card img{
            width: 24px !important;
            height: 24px !important;
        }
        .card-content{
            gap: 8px !important;
        }
    }
</style>

<section class="section_1">
    <div class="main-container">
       <div class="inner-container" style="display: flex; flex-wrap: wrap; justify-content: space-between; gap: 20px;">
        <div class="left-outer-container fade-in">
            <div class="left-container" style="width: 813px; height: 686px; background-color: white; border: 0.5px solid rgba(0, 0, 0, 0.16); padding: 64px; display: flex; flex-direction: column; gap: 64px;">
                <div>
                    <img class="home-banner1" src="/assets/oasis/images/banner1.svg" type="image/svg+xml" alt="">
                </div>
                <div style="display: flex; flex-direction: column; gap: 24px;">
                    <div>
                        <p class="sect1-header" style="font-family: Bricolage Grotesque, sans-serif; font-size: 36px; font-weight: 600; line-height: 44px; max-width: 373px;">
                            Empowering change through open source
                        </p>
                    </div>
                    <div>
                        <p class="sect1-sub" style="font-family: Inter, sans-serif; font-weight: 400; color: rgba(0, 0, 0, 1); font-size: 16px; line-height: 21px;">
                            We are a network of organizations united by the vision that Free and Open-Source Software (FOSS) can empower citizen sector organizations and communities to create positive impact at scale.
                        </p>
                    </div>
                    <div style="font-size: 14px; font-family: Inter, sans-serif; display: flex; gap: 24px;">
                        <a href="/"><button class="participate-btn main-button" > Participate -></button></a>
                        <a href="/join-oasis"><button class="sec-btn main-button" > Join -></button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-container fade-in" style="display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 20px;">
            <div class="right-top" style="width: 345px;">
                <img src="/assets/oasis/images/banner2.svg" alt="">
            </div>
            <div class="right-bottom" style="width: 345px; height: 408px; padding: 36px 24px; display: flex; justify-content: end; flex-direction: column; gap: 24px; background-color: #FF6459; border: 0.5px solid rgba(0, 0, 0, 0.16); position: relative;">
                <div style="position: absolute; top: 0px; right: 0px;">
                    <img fill="#fe4537" src="/assets/oasis/images/shape3.svg" alt="">
                </div>
                <div>
                    <div>
                        <p class="right-bottom-p" style="font-family: Bricolage Grotesque, sans-serif; margin: 0px; font-size: 24px; font-weight: 600; line-height: 30px; color: #ffffff;">
                            FOSS (Free and & Open-Source Software) enables access to libre, low-cost, and sustainable solutions and promotes transparency and collaboration.
                        </p>
                    </div>
                    <hr style="height: 1px; width: 100%; background-color: #fe4537; border: none;">
                    <div>
                        <p style="font-size: 16px; font-family: Inter, sans-serif; margin: 0px; font-weight: 500; line-height: 25px; color: #ffffff; text-decoration: underline 1px; text-underline-offset: 3px; cursor: pointer;">
                            Read about FOSS & Social Sector ->
                        </p>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
</section>
<section class="section">
    <div class="partners" style="width: 100%; height: auto; padding: 64px 146px; background-color: #f8f7ef; display: flex; flex-wrap: wrap; gap: 50px; justify-content: center; align-items: center;">
    {% for partner in partners %}
        {% if partner.key_partner %}
            <a href="{{ partner.url }}" target="_blank" > 
                <img class="partner-logo" src="{{ partner.logo }}" alt="logo" > 
            </a>
        {% endif %}
    {% endfor %}
    </div>
</section>
<section class="section">
    <div style="width: 100%;">
        <div class="cards" style="background-image: url('/assets/oasis/images/bgvector-min.svg'); background-color: #f8f7ef; background-repeat: no-repeat; background-size: cover; width: 100%; padding: 128px 146px; display: flex; flex-direction: column; gap: 18px;">
            <div class="card-heading fade-in">
                <p>How we achieve it?</p>
            </div>
            <div class="card-row fade-in">
                <div class="inner-card1 card-panel" style="width: 442px; flex-basis: 442px; flex-grow: 0; flex-shrink: 0; height: 619px; padding: 64px 32px; display: flex; flex-direction: column; justify-content: flex-end; gap: 10px; background-color: #ffffff; ">
                    <p style="font-family: 'Bricolage Grotesque', sans-serif; margin: 0px; font-size: 48px; font-weight: 600; line-height: 55px; color: #000000; max-width: 242px;">
                        How we achieve it?
                    </p>
                </div>
                {% for card in cards %}
                <div class="inner-cards card-panel" style="width: 442px; height: 619px; flex-basis: 442px; flex-grow: 0; flex-shrink: 0; padding: 64px 32px; display: flex; flex-direction: column; justify-content: space-between; gap: 10px; background-color: {{ card.background_color }}; position: relative;">
                    <div>
                        <p style="font-family: 'Inter', sans-serif; margin: 0px; font-size: 24px; font-weight: 500; line-height: 30px; color: #000000;">
                            {{ card.content_summary }}
                        </p>
                    </div>
                    <div style="display: flex; flex-direction: column; gap: 10px; z-index: 999;">
                        <div>
                            <button class="card-btn" style="background-color: #ffffff; padding: 12px 16px; border-radius: 40px; border: none; width: auto; font-family: 'Inter', sans-serif; margin: 0px; font-size: 16px; font-weight: 700; line-height: 20px; text-transform: uppercase;">{{ card.cta_button_1_label }} -></button>
                        </div>
                        <div>
                            <button class="card-btn" style="background-color: #ffffff; padding: 12px 16px; border-radius: 40px; border: none; width: auto; font-family: 'Inter', sans-serif; margin: 0px; font-size: 16px; font-weight: 700; line-height: 20px; text-transform: uppercase;">{{ card.cta_button_2_label }} -></button>
                        </div>
                    </div>
                    <div style="position: absolute; bottom: 0px; right: 0px;">
                        <img class="card-vector" src="{{card.illustration}}" alt="">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="section case-study-section" style="width: 100%; min-height: 100vh;">
    <div class="casestudy-component" style="width: 100%; padding: 128px 146px; background-color: #3CB645; background-image: url('/assets/oasis/images/casestudy_vector.svg');">
        <div class="casestudy-innercomponent" style="display: flex; flex-direction: column; gap: 64px;">
            <div class="casestudy-top-container">
                <div style="display: flex; flex-direction: column; gap: 12px;">
                    <p class="casestudy-header" style="font-family: 'Bricolage Grotesque', sans-serif; margin: 0px; font-size: 32px; font-weight: 600; line-height: 37px; color: #ffffff;">Here are a few impact stories. </p>
                    <p class="casestudy-sub" style="font-family: 'Inter', sans-serif; margin: 0px; font-size: 16px; font-weight: 400; line-height: 21px; color: #ffffff;">We helped these organizations to adapt FOSS and become more impactful.</p>
                </div>
                <div>
                    <button class="case-study-btn">View all case studies</button>
                </div>
            </div>
            <div class="casestudy-lrg-scrn-main" style="display: flex; width: 100%; flex-direction: column; contain: layout; will-change: contents;">
                <div class="case-study-right" style="display: flex; flex-direction: column; ">
                    <div style="display: flex; ">
                        {% for item in casestudies %}
                        <div id="casestudy-container" data-casestudy-name="{{ item.name }}" style="cursor: pointer; width: auto; flex:1; color: #ffffff; height: 96px; padding: 24px 32px; display: flex; flex-direction: column; gap: 4px;">
                            <p style="font-family: 'Inter', sans-serif; margin: 0px; font-size: 16px; font-weight: 600; line-height: 21px;">{{item.title}}</p>
                            <p style="font-family: 'Inter', sans-serif; margin: 0px; font-size: 16px; font-weight: 400; line-height: 21px;">cupabangalore.org</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="case-study-left transition-all duration-700 fade-in-out" style="display: flex; flex: 1; gap: 23px; padding: 42px 42px 98px 42px; background-color: #ffffff;">
                    <div style="display: flex; flex: 1; flex-direction: column; gap: 23px;">
                        <div class="fade-in" style="border: 0.5px solid rgba(0, 0, 0, 0.16); width: auto; padding: 32px; display: flex; flex-direction: column; gap: 20px;">
                            <div>
                                <p style="font-family: 'Nanum Pen Script', cursive; margin: 0px; font-size: 22px; font-weight: 400; line-height: 30px; color: rgba(0, 0, 0, 1);">Challenge</p>
                            </div>
                            <div>
                                <p id="challenge-text" style="font-family: 'Inter', sans-serif; margin: 0px; font-size: 20px; font-weight: 400; line-height: 27px; color: rgba(0, 0, 0, 1);">
                                    {{casestudies[0].challenge}}
                                </p>
                            </div>
                            <div>
                                <p id="category-text" style="background-color: #FF94B8; padding: 4px 8px; border-radius: 40px; width: auto; display: inline-block; font-family: 'Inter', sans-serif; margin: 0px; font-size: 16px; font-weight: 500; line-height: 21px; color: rgba(0, 0, 0, 1);">
                                    {{casestudies[0].category_tag}}
                                </p>
                            </div>
                        </div>
                        <div class="fade-in" style="border: 0.5px solid rgba(0, 0, 0, 0.16); width: auto; padding: 32px; display: flex; gap: 20px;">
                            <p style="font-family: 'Nanum Pen Script', cursive; margin: 0px; font-size: 22px; font-weight: 400; line-height: 30px; color: rgba(0, 0, 0, 1);">Solution Partner</p>
                            <img id="solution-partner" src="{{casestudies[0].solution_partner}}" alt="">
                        </div>
                    </div>
                    <div style="display: flex; flex: 1; flex-direction: column; gap: 23px;">
                        <div class="fade-in" style="border: 0.5px solid rgba(0, 0, 0, 0.16); width: auto; padding: 32px; display: flex; flex-direction: column; gap: 20px;">
                            <div>
                                <p style="font-family: 'Nanum Pen Script', cursive; margin: 0px; font-size: 22px; font-weight: 400; line-height: 30px; color: rgba(0, 0, 0, 1);">Solution</p>
                            </div>
                            <div>
                                <p id="solution-text" style="font-family: 'Inter', sans-serif; margin: 0px; font-size: 20px; font-weight: 400; line-height: 27px; color: rgba(0, 0, 0, 1);">
                                    {{casestudies[0].solution}}
                                </p>
                            </div>
                        </div>
                        <div class="fade-in" style="border: 0.5px solid rgba(0, 0, 0, 0.16); width: auto; padding: 32px; display: flex; flex-wrap: wrap; gap: 20px;">
                            <p style="font-family: 'Nanum Pen Script', cursive; margin: 0px; font-size: 22px; font-weight: 400; line-height: 30px; color: rgba(0, 0, 0, 1);">Tool used</p>
                            <div id="tool-list" style="display: flex; gap: 24px;">
                                {% for item in casestudies[0].tools_used %}
                                    <img src="{{item.logo}}" alt="">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="casetudy-sml-scrn-main" style="width: 100%; height:auto; display: none; padding: 16px 0px;">
                {% set colors = ['#FF94B8', '#F5E253', '#85B4EF', '#3CB645'] %}
                {% for item in casestudies %}
                <div style="display: flex; justify-content: space-between; align-items: center; height: 80px; padding: 0px 16px;">
                    <div>
                        <p style="font-family: 'Inter', sans-serif; margin: 0px; font-size: 16px; font-weight: 600; line-height: 21px; color: rgba(0, 0, 0, 0.86);">{{item.title}}</p>
                        <p style="font-family: 'Inter', sans-serif; margin: 0px; font-size: 16px; font-weight: 400; line-height: 21px; color: rgba(0, 0, 0, 0.56);">cupabangalore.org</p>
                    </div>
                    <div>
                        <p style="padding: 4px 8px; border-radius: 40px; width: auto; display: inline-block; font-family: 'Inter', sans-serif; margin: 0px; font-size: 12px; font-weight: 500; line-height: 16px; color: rgba(0, 0, 0, 1); text-align: right; background-color: {{ colors[loop.index0 % colors|length] }};">{{item.category_tag}}</p>
                    </div>
                </div>
                <hr style="width: 100%; height: 1px;">
                {% endfor %}
            </div>
        </div>
    </div>
</section> 
<section class="section">
    <div class="tools" style="width: 100%; padding: 128px 146px;">
        <div class="tools-main-div" style="display: flex; justify-content: center; flex-wrap: wrap;">
            <div class="tools-lrg-scrn" style="border: 0.5px solid rgba(0, 0, 0, 0.16); display: flex; justify-content: center; flex-wrap: wrap;">
                <div class="tools-list" style="flex-wrap: wrap; display: flex; width: 612px; height: 612px;">
                    {% for img in tools %}
                    <div style=" flex: 0 0 25%; background-color: transparent; display: flex; justify-content: center; align-items: center; border-right: 0.5px solid rgba(0, 0, 0, 0.16); border-bottom: 0.5px solid rgba(0, 0, 0, 0.16); cursor: pointer;">
                        <div class="tool-item" style=" width: 60%; height: 60%; display: flex; justify-content: center; align-items: center; perspective: 1000px; ">
                            <img style="width: 45px; height: 45px; mix-blend-mode: darken;" src="{{img.logo}}" alt="">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="tools-content" style="width: 565px; display: flex; justify-content: center; align-items: center; ">
                    <div class="fade-in" style="box-sizing: border-box; max-width: 428px; display: flex; flex-direction: column; gap: 24px;">
                        <div>
                            <p class="tools-left-header">Tools that creates value</p>
                        </div>
                        <div>
                            <p class="tools-left-paragraph">We are a network of organizations united by the vision that Free and Open-Source Software (FOSS) can empower citizen sector organizations and communities to create positive impact at scale.</p>
                        </div>
                        <div style="display: flex; gap: 24px;">
                            <button class="tools-btn-left">Find right tool -></button>
                            <button class="tools-btn-right">Ask community -> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tools-sml-scrn">
                <div style="width: 100%; overflow-x: hidden; height: 120px; display: flex; align-items: center; cursor: pointer;">
                    <div id="scroll-container" style="display: flex; white-space: nowrap;">
                        {% for img in tools %}
                            <div style="height: 105px; width: 105px; padding: 0px 32px; display: flex; background-color: transparent; justify-content: center; align-items: center;">
                                <img style="width: 30px; height: 30px; mix-blend-mode: darken;" src="{{ img.logo }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>                
                <div style="width: 100%; box-sizing: border-box; padding: 0px 32px;">
                    <div style="display: flex; flex-direction: column; gap: 24px;">
                        <div>
                            <p class="tools-left-header">Tools that creates value</p>
                        </div>
                        <div>
                            <p class="">We are a network of organizations united by the vision that Free and Open-Source Software (FOSS) can empower citizen sector organizations and communities to create positive impact at scale.</p>
                        </div>
                        <div style="display: flex; gap: 20px;">
                            <button class="tools-btn-left">Find right tool -></button>
                            <button class="tools-btn-right">Ask community -> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" style="width: 100%;">
    <div class="benefits" style="padding: 0px 146px 128px 146px; display: flex; flex-direction: column; gap: 64px;">
        <div class="fade-in" style="display: flex; flex-direction: column; gap: 12px;">
            <p class="benefits-header">Benefits of FOSS</p>
            <p class="benefits-sub">By adopting FOSS, organisations in the social sector can leverage powerful tools, reduce costs, and contribute to a collaborative ecosystem of technological innovation.</p>
        </div>
        <div class="benefits-inner-cards fade-in" style="border: 0.5px solid rgba(0, 0, 0, 0.16);">
            <div class="benefits-cards" style="display: flex; justify-content: center; gap: 24px; border-bottom: 0.5px solid rgba(0, 0, 0, 0.16); padding: 40px;">
                <div class="benefit-card" style="width: 340px; display: flex; flex-direction: column; gap: 24px;">
                    <div>
                        <img style="width: 36px; height: 36px;" src="/assets/oasis/images/Icon.svg" alt="">
                    </div>
                    <div class="card-content" style="display: flex; flex-direction: column; gap: 24px;">
                        <p class="benefits-card-title">Cost-Effective</p>
                        <p class="benefits-card-sub">Reduces software expenses, especially beneficial for non-profits and small organisations.</p>
                    </div>
                </div>
                <div class="benefit-card" style="width: 340px; display: flex; flex-direction: column; gap: 24px;">
                    <div>
                        <img style="width: 36px; height: 36px;" src="/assets/oasis/images/Icon (1).svg" alt="">
                    </div>
                    <div class="card-content" style="display: flex; flex-direction: column; gap: 24px;">
                        <p class="benefits-card-title">Customizable</p>
                        <p class="benefits-card-sub">Can be tailored to specific organisational needs.</p>
                    </div>
                </div>
                <div class="benefit-card" style="width: 340px; display: flex; flex-direction: column; gap: 24px;">
                    <div>
                        <img style="width: 36px; height: 36px;" src="/assets/oasis/images/Icon (2).svg" alt="">
                    </div>
                    <div class="card-content" style="display: flex; flex-direction: column; gap: 24px;">
                        <p class="benefits-card-title">Transparent</p>
                        <p class="benefits-card-sub">Open code means better security and privacy control.</p>
                    </div>
                </div>
            </div>
            <div class="benefits-cards" style="display: flex; justify-content: center; gap: 24px; padding: 40px;">
                <div class="benefit-card" style="width: 340px; display: flex; flex-direction: column; gap: 24px;">
                    <div>
                        <img style="width: 36px; height: 36px;" src="/assets/oasis/images/Icon (3).svg" alt="">
                    </div>
                    <div class="card-content" style="display: flex; flex-direction: column; gap: 24px;">
                        <p class="benefits-card-title">Community-Driven</p>
                        <p class="benefits-card-sub">Benefits from continuous improvements by a global community of developers.</p>
                    </div>
                </div>
                <div class="benefit-card" style="width: 340px; display: flex; flex-direction: column; gap: 24px;">
                    <div>
                        <img style="width: 36px; height: 36px;" src="/assets/oasis/images/Icon (5).svg" alt="">
                    </div>
                    <div class="card-content" style="display: flex; flex-direction: column; gap: 24px;">
                        <p class="benefits-card-title">Promotes Innovation</p>
                        <p class="benefits-card-sub">Encourages collaborative problem-solving and knowledge sharing.</p>
                    </div>
                </div>
                <div class="benefit-card" style="width: 340px; display: flex; flex-direction: column; gap: 24px;">
                    <div>
                        <img style="width: 36px; height: 36px;" src="/assets/oasis/images/Icon (6).svg" alt="">
                    </div>
                    <div class="card-content" style="display: flex; flex-direction: column; gap: 24px;">
                        <p class="benefits-card-title">Open Source</p>
                        <p class="benefits-card-sub">The source code is openly available, allowing users to study how the software works.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const casestudiesData = {{ casestudies | tojson }};
        const caseStudyContainers = document.querySelectorAll('#casestudy-container');
        const challengeTextEl = document.getElementById('challenge-text');
        const solutionTextEl = document.getElementById('solution-text');
        const categoryTextEl = document.getElementById('category-text');
        const solutionPartnerEl = document.getElementById('solution-partner');
        const toolListContainer = document.getElementById('tool-list');
    
        const casestudiesMap = new Map(casestudiesData.map(study => [study.name, study]));
    
        if (caseStudyContainers.length) {
            // caseStudyContainers[0].classList.add('case-active');

            gsap.fromTo(caseStudyContainers[0], 
                        {
                            backgroundColor: 'transparent',
                            color: '#ffffff',
                            opacity: 0,
                            scale: 1
                        },
                        {
                            backgroundColor: 'rgba(255,255,255,1)', 
                            color: '#000000',
                            border: '0.5px solid rgba(0, 0, 0, 0.16)',
                            opacity: 1,
                            scale: 1,
                            duration: 0.6,
                            ease: "power2.out",
                            stagger:2,
                        }
                    );
        }
    
        document.querySelector('.case-study-right').addEventListener('click', (event) => {
            const caseStudyContainer = event.target.closest('#casestudy-container');
            if (!caseStudyContainer) return;
    
            const caseStudyName = caseStudyContainer.dataset.casestudyName;
            updateCaseStudyContent(caseStudyName, caseStudyContainer);
        });
    
        function updateCaseStudyContent(caseStudyName, currentTarget) {
            const caseStudy = casestudiesMap.get(caseStudyName);
            if (!caseStudy) return;

            gsap.to('.fade-in', {
                opacity: 0,
                y: 20,
                duration: 0.3,
                onComplete: () => {
                    challengeTextEl.textContent = caseStudy.challenge;
                    solutionTextEl.textContent = caseStudy.solution;
                    categoryTextEl.textContent = caseStudy.category_tag;
                    solutionPartnerEl.src = caseStudy.solution_partner;

                    toolListContainer.innerHTML = caseStudy.tools_used
                        .map(tool => `<img src="${tool.logo}" alt="${tool.name}">`)
                        .join('');

                    gsap.fromTo(
                        '.fade-in',
                        { opacity: 0.2, y: 20 },
                        { opacity: 1, y: 0, duration: 0.3 }
                    );

                    // caseStudyContainers.forEach(container => {
                    //     container.classList.toggle('case-active', container === currentTarget);
                    //     container.classList.toggle('case-inactive', container !== currentTarget);
                    // });
                    caseStudyContainers.forEach(container => {
                        if (container === currentTarget) {
                    // Explicit fade-in for active container
                    gsap.fromTo(container, 
                        {
                            backgroundColor: 'transparent',
                            color: '#ffffff',
                            opacity: 0,
                            scale: 1
                        },
                        {
                            backgroundColor: 'rgba(255,255,255,1)', 
                            color: '#000000',
                            border: '0.5px solid rgba(0, 0, 0, 0.16)',
                            opacity: 1,
                            scale: 1,
                            duration: 1.2,
                            ease: "power2.out",
                            stagger: 0.2,
                        }
                    );
                } else {
                    // Fade out for inactive containers
                    gsap.to(container, {
                        backgroundColor: 'transparent',
                        color: '#ffffff',
                        border: '0.5px solid transparent',
                        opacity: 1,
                        duration: 0.1,
                        ease: "power2.out"
                    });
                }
                    //     gsap.to(container, {
                    //         opacity: container === currentTarget ? 1 : 0.9,
                    //         duration: 0.3,
                    //         onComplete: () => {
                    //             // Add/remove classes after animation
                    //             container.classList.toggle('case-active', container === currentTarget);
                    //             container.classList.toggle('case-inactive', container !== currentTarget);
                    //         }
                    //     });
                    });
                }
            });
        }


        const container = document.getElementById("scroll-container");
        const clones = container.innerHTML; 
        container.innerHTML += clones;
        container.innerHTML += clones; 

        gsap.to(container, {
            x: () => `-=${container.scrollWidth / 3}`, 
            ease: "none",
            repeat: -1, 
            duration: 25, 
        });

        gsap.registerPlugin(ScrollTrigger);
        gsap.utils.toArray(".fade-in").forEach((section) => {
            gsap.from(section, {
                opacity: 0,
                y: 50, 
                duration: 0.8,
                ease: "power2.out",
                scrollTrigger: {
                trigger: section,
                start: "top 80%", 
                toggleActions: "play none none reverse", 
                },
            });
        });

        gsap.fromTo(
            ".partner-logo", 
            { 
                opacity: 0, 
                y: 20, 
                scale: 0.8
            },
            { 
                opacity: 1, 
                scale: 1,
                y: 0, 
                duration: 0.4, 
                stagger: 0.2, 
                ease: "power2.out",
                scrollTrigger: {
                    trigger: ".partners", 
                    start: "top 80%", 
                    toggleActions: "play none none reverse", 
                }, 
            }
        );

        const toolItems = document.querySelectorAll(".tool-item");

        gsap.fromTo(
            ".tool-item",
            {
                scale: 0,
                opacity: 0,
            },
            {
                scale: 1,
                opacity: 1,
                duration: 0.6,
                ease: "power2.out",
                stagger: {
                    each: 0.1,
                    grid: [4, Math.ceil(toolItems.length / 4)],
                    from: "edges", 
                },
                scrollTrigger: {
                    trigger: ".tools-list",
                    start: "top 80%",
                    toggleActions: "play none none reverse",
                },
            }
        );
        

    });
    </script>

{% endblock %}





