{% extends "templates/layouts/layout.html" %}

{% block content %}
<script src="/assets/oasis/js/scroll_animations.js?version=2.07"></script> 
<link rel="stylesheet" href="/assets/oasis/css/foss.css?version=1.1">

<section>
    <div class="foss-main-container">
        <div class="foss-main-content fade-in">
            <p class="foss-heading">
                Free and Open Source Software
            </p>
            <p class="foss-description">
                FOSS stands for Free and Open Source Software. It represents a revolutionary approach to software development and distribution that emphasizes freedom, transparency, and community collaboration.
            </p>
        </div>
        <div class="foss-key-principle fade-in">
            <div>
                <p class="foss-key-principle-heading">Key Principles of FOSS</p>
            </div>
            <div class="key-priciple-cards">
                <div class="key-priciple-card">
                    <p class="key-principle-card-heading">Free to Use</p>
                    <p class="key-principle-card-description">Anyone can use the software for any purpose without paying licensing fees.</p>
                </div>
                <div class="key-priciple-card">
                    <p class="key-principle-card-heading">Open Source</p>
                    <p class="key-principle-card-description">The source code is openly available, allowing users to study how the software works.</p>
                </div>
                <div class="key-priciple-card">
                    <p class="key-principle-card-heading">Freedom to Modify</p>
                    <p class="key-principle-card-description">Users can alter the software to suit their needs.</p>
                </div>
                <div class="key-priciple-card">
                    <p class="key-principle-card-heading">Freedom to Share</p>
                    <p class="key-principle-card-description">Modified versions can be distributed to help others.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="width: 100%;">
    <div class="benefits">
        <div class="fade-in" style="display: flex; flex-direction: column; gap: 12px;">
            <p class="benefits-header">Benefits of FOSS</p>
            <p class="benefits-sub">By adopting FOSS, organisations in the social sector can leverage powerful tools, reduce costs, and contribute to a collaborative ecosystem of technological innovation.</p>
        </div>
        <div class="benefits-inner-cards fade-in">
            <div class="benefits-cards" style="border-bottom: 0.5px solid rgba(0, 0, 0, 0.16);">
                <div class="benefit-card">
                    <div>
                        <img style="width: 36px; height: 36px;" src="/assets/oasis/images/Icon.svg" alt="">
                    </div>
                    <div class="card-content">
                        <p class="benefits-card-title">Cost-Effective</p>
                        <p class="benefits-card-sub">Reduces software expenses, especially beneficial for non-profits and small organisations.</p>
                    </div>
                </div>
                <div class="benefit-card">
                    <div>
                        <img style="width: 36px; height: 36px;" src="/assets/oasis/images/Icon (1).svg" alt="">
                    </div>
                    <div class="card-content">
                        <p class="benefits-card-title">Customizable</p>
                        <p class="benefits-card-sub">Can be tailored to specific organisational needs.</p>
                    </div>
                </div>
                <div class="benefit-card">
                    <div>
                        <img style="width: 36px; height: 36px;" src="/assets/oasis/images/Icon (2).svg" alt="">
                    </div>
                    <div class="card-content">
                        <p class="benefits-card-title">Transparent</p>
                        <p class="benefits-card-sub">Open code means better security and privacy control.</p>
                    </div>
                </div>
            </div>
            <div class="benefits-cards">
                <div class="benefit-card">
                    <div>
                        <img style="width: 36px; height: 36px;" src="/assets/oasis/images/Icon (3).svg" alt="">
                    </div>
                    <div class="card-content">
                        <p class="benefits-card-title">Community-Driven</p>
                        <p class="benefits-card-sub">Benefits from continuous improvements by a global community of developers.</p>
                    </div>
                </div>
                <div class="benefit-card">
                    <div>
                        <img style="width: 36px; height: 36px;" src="/assets/oasis/images/Icon (5).svg" alt="">
                    </div>
                    <div class="card-content">
                        <p class="benefits-card-title">Promotes Innovation</p>
                        <p class="benefits-card-sub">Encourages collaborative problem-solving and knowledge sharing.</p>
                    </div>
                </div>
                <div class="benefit-card">
                    <div>
                        <img style="width: 36px; height: 36px;" src="/assets/oasis/images/Icon (6).svg" alt="">
                    </div>
                    <div class="card-content">
                        <p class="benefits-card-title">Open Source</p>
                        <p class="benefits-card-sub">The source code is openly available, allowing users to study how the software works.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="banner-section">
    <div class="foss-banner fade-in">
        <p class="banner-heading">By adopting FOSS, organisations in the social sector can leverage powerful tools, reduce costs, and contribute to a collaborative ecosystem of technological innovation.</p>
        <p class="banner-subtext">Ready to make a difference? Join us today!</p>
        <button class="banner-cta-btn">Join the community -></button>
        <svg class="banner-svg" width="402" height="258" viewBox="0 0 402 258" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 128.907L402 257.352L402 0.462891L0 128.907ZM397.603 20.65L397.603 237.165L349.957 128.907L397.603 20.65ZM395.032 241.52L345.469 128.907L395.032 16.2949L312.427 128.907L395.032 241.52ZM274.966 128.907L389.82 240.747L307.781 128.907L389.82 17.0673L274.966 128.907ZM383.945 239.77L270.094 128.907L383.945 18.0445L237.565 128.907L383.945 239.77ZM200.215 128.907L377.268 238.62L232.406 128.907L377.268 19.1944L200.215 128.907ZM369.685 237.327L194.719 128.907L369.685 20.4873L162.907 128.907L369.685 237.327ZM125.633 128.907L361.12 235.917L157.031 128.907L361.12 21.8973L125.633 128.907ZM351.518 234.412L119.344 128.907L351.518 23.4029L88.3872 128.907L351.518 234.412ZM44.9624 128.907L348.997 236.1L81.6562 128.907L348.997 21.7149L44.9624 128.907ZM326.977 230.901L37.6875 128.907L326.976 26.9137L7.76107 128.907L326.977 230.901Z" fill="black" style="mix-blend-mode:soft-light"/>
        </svg>
    </div>
</section>

{% endblock %}