{% extends "templates/layouts/layout.html" %}

{% block content %}
<link rel="stylesheet" href="/assets/oasis/css/activities.css?version=1.11">
<script src="/assets/oasis/js/scroll_animations.js?version=2.09"></script> 

<style>
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        .activity-main-container{
            padding: 64px 56px 128px 56px;
        }
    }
</style>

<section>
    <div class="activity-main-container">
        <div class="activity-main-content fade-in">
            <p class="activity-heading">Activities</p>
            <p class="activity-description">At OASIS, we are dedicated to transforming the social sector through the power of Free and Open-Source Software (FOSS). 
                Our activities are designed to empower organizations with practical tools, 
                knowledge, and support to create lasting impact.</p>
        </div>
        <div >
            <p class="activity-card-heading">How we achieve it?</p>
            <div class="activity-cards">
                {% for card in cards %}
                <div class="activity-card fade-in" style="background-color: {{ card.background_color }}">
                    <div class="activity-card-desc">
                        <p>{{ card.content_summary }}</p>
                    </div>
                    <!-- <div class="activity-cta-buttons">
                        <button class="activity-cta">{{ card.cta_button_1_label }} -></button>
                        <button class="activity-cta"> {{ card.cta_button_2_label }} -></button>
                    </div> -->
                    <div class="activity-card-vector">
                        <img src="{{card.illustration}}" alt="">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="activity-join-cta fade-in">
            <p class="activity-cta-header">Join Our Movement</p>
            <p class="activity-cta-description">Are you passionate about Free and Open Source Software (FOSS) or social innovation? Become a part of OASIS, where individuals and organizations collaborate to drive tech for good. Whether you're a technologist, a FOSS provider working in the social sector, or a philanthropic institution building tech capacity, there's a place for you in our alliance. Together, we can create meaningful change by leveraging technology for social impact.</p>
            <p class="activity-cta-subtext">Ready to make a difference? Join us today!</p>
            <a href="/membership" style="text-decoration: none;"><button class="activity-cta-btn">Learn about membership <img style="width: 12px;" src="/assets/oasis/images/arrow_right_white.svg" alt=""></button></a>
        </div>
    </div>
</section>
{% endblock %}