{% extends "templates/layouts/layout.html" %}

{% block content %}
<script src="/assets/oasis/js/scroll_animations.js?version=2.06"></script> 

<style>
    .activity-main-container{
        width: 100%;
        padding: 64px 146px 128px 146px;
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
    .activity-main-content{
        padding: 64px 0px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .activity-heading{
        font-family: 'Bricolage Grotesque';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 124%;
        letter-spacing: -0.04em;
        color: #000000;
    }
    .activity-description{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 136%;
        letter-spacing: -0.01em;
        color: #000000;
    }
    .activity-cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 36px;
    }
    .activity-card{
        width: 100%;
        height: auto;
        padding: 64px 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        overflow: hidden;
    }
    .activity-card-desc{
        max-width: 605px;
        font-family: 'Inter', sans-serif; 
        margin: 0px; 
        font-size: 24px; 
        font-weight: 500; 
        line-height: 30px; 
        color: #000000;
    }
    .activity-cta{
        background-color: #ffffff; 
        padding: 12px 16px; 
        border-radius: 40px; 
        border: none; 
        width: auto; 
        font-family: 'Inter', sans-serif; 
        margin: 0px; 
        font-size: 16px; 
        font-weight: 700; 
        line-height: 20px; 
        text-transform: uppercase;
    }
    .activity-cta-buttons{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
        z-index: 999;
    }
    .activity-card-vector{
        position: absolute;
        bottom: -70px;
        right: 0px;
    }
    .activity-join-cta{
        padding: 64px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .activity-cta-header{
        font-family: 'Bricolage Grotesque';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 124%;
        letter-spacing: -0.04em;
        color: #000000;
    }
    .activity-cta-description{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 136%;
        letter-spacing: -0.01em;
        color: #000000;
        opacity: 0.7;
    }
    .activity-cta-subtext{
        font-family: 'Nanum Pen Script', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 136%;
        letter-spacing: -0.01em;
        color: #000000;
    }
    .activity-cta-btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        gap: 10px;
        background: #000000;
        border-radius: 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 158%;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        width: 219px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
    .activity-cta-btn:hover{
        transform: scale(1.05);
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
    .activity-card-heading{
        display: none;
    }
    @media screen and (max-width: 768px) {
        .activity-main-container{
            padding: 0px 0px 64px 0px;
        }
        .activity-main-content{
            padding: 64px 16px 32px 16px;
        }
        .activity-heading{
            font-size: 36px;
            line-height: 44px;
        }
        .activity-description{
            max-width: 100%;
        }
        .activity-cards{
            gap: 21px;
            flex-direction: row;
            overflow-x: scroll;
            padding-left: 16px; 
            padding-right: 16px; 
            scroll-padding-left: 16px; 
            -webkit-overflow-scrolling: touch; 
            -ms-overflow-style: none; 
            scrollbar-width: none; 
            -webkit-scrollbar-width: none;

        }
        .activity-card{
            min-width: 259px;
            height: 362px;
            padding: 38px 19px;
            flex-direction: column;
            align-items: start;
        }
        .activity-card-heading{
            padding: 0px 16px 24px 16px;
            display: block;
            font-family: 'Bricolage Grotesque';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 116%;
            letter-spacing: -0.04em;
            color: #000000;
        }
        .activity-cta-header{
            font-size: 32px;
        }
        .activity-card-desc{
            font-size: 14px;
            line-height: 17px;
        }
        .activity-cta{
            padding: 7px 9px;
            font-size: 9px; 
            line-height: 11px; 
        }
        .activity-card-vector{
            bottom: 0px;
        }
        .activity-join-cta{
            padding: 64px 16px;
        }
    }
</style>

<section>
    <div class="activity-main-container">
        <div class="activity-main-content fade-in">
            <p class="activity-heading">Activities</p>
            <p class="activity-description">At OASIS, we are dedicated to transforming the social sector through the power of Free and Open-Source Software (FOSS). 
                Our activities are designed to empower organizations with practical tools, 
                knowledge, and support to create lasting impact.</p>
        </div>
        <div >
            <p class="activity-card-heading">How we achieve it?</p>
            <div class="activity-cards">
                {% for card in cards %}
                <div class="activity-card fade-in" style="background-color: {{ card.background_color }}">
                    <div class="activity-card-desc">
                        <p>{{ card.content_summary }}</p>
                    </div>
                    <div class="activity-cta-buttons">
                        <button class="activity-cta">{{ card.cta_button_1_label }} -></button>
                        <button class="activity-cta"> {{ card.cta_button_2_label }} -></button>
                    </div>
                    <div class="activity-card-vector">
                        <img src="{{card.illustration}}" alt="">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="activity-join-cta fade-in">
            <p class="activity-cta-header">Join Our Movement</p>
            <p class="activity-cta-description">Are you passionate about Free and Open Source Software (FOSS) or social innovation? Become a part of OASIS, where individuals and organizations collaborate to drive tech for good. Whether you're a technologist, a FOSS provider working in the social sector, or a philanthropic institution building tech capacity, there's a place for you in our alliance. Together, we can create meaningful change by leveraging technology for social impact.</p>
            <p class="activity-cta-subtext">Ready to make a difference? Join us today!</p>
            <a href="/membership" style="text-decoration: none;"><button class="activity-cta-btn">Learn about membership</button></a>
        </div>
    </div>
</section>
{% endblock %}